header.arts {
    background-color: #660066;
}
section.arts {
    border-bottom: 3px solid #861186;
    background: #861186;
    color: #660066;
}
main div article.arts {
    border-top:3px solid #861186;
}
main div article.arts.fs {
    border-top:none;
}
main div article.arts a i {
    color: #660066;
}
