header.chanvey {
    background-color: #4F008A;
}
section.chanvey {
    background: #7406C7;
}
main div.chanvey article a {
    color: #4F008A;
}

header.lmccomb {
    background-color: #006759;
}
section.lmccomb {
    background: #00806f;
}
main div.lmccomb article a {
    color: #006759;
}

header.spenasar {
    background-color: #28153c;
}
section.spenasar {
    background: #321a4b;
}
main div.spenasar article a {
    color: #28153c;
}

header.kogier {
    background-color: #cc0066;
}
section.kogier {
    background: #ff0080;
}
main div.kogier article a {
    color: #cc0066;
}

header.jgriffiths {
    background-color: #e67a00;
}
section.jgriffiths {
    background: #ff8800;
}
main div.jgriffiths article a {
    color: #e67a00;
}
