header.lifestyle {
    background-color: #009933;
}
section.lifestyle {
    background: #29B156;
}

main div article.lifestyle a {
    color: #009933;
}
main div article.lifestyle a i {
    color: #009933;
}
