/* Start media queries
 * Bigger than Mobiles 
 */
@media screen and (min-width: 650px) {
    /* Setting main width and animations */
    main {
        width: calc(100% - 50px);
        right: 0;
        transition: right 0.8s;
    }
  
    main div {
        text-align: left;
    }
   
    /*Animate the menu in from the left */
    nav {
        height: calc(100% - 75px);
        width: 250px;
        left: -200px;
        bottom: 0;
        padding-right: 50px;
        transition: left 0.8s, padding-right 0.8s;
    }
    
    section {
        width: calc(100% - 50px);
        right: 0;
        transition: right 0.8s;
    }
 
    nav p {
        right: 50px;
        transition: right 0.8s;
    }
 
    /* when #hamburger is checked, move the menu to the left of the page so all of it is in view */
    #hamburger:checked ~ nav {
        left: 0;
        padding-right: 0;
        transition: left 0.8s, padding-right 0.8s;
    }

    #hamburger:checked ~ nav p {
        right: 0;
        transition: right 0.8s;
    }
  
    #hamburger:checked ~ nav > ul {
        right: 0;
        transition: right 0.8s;
    }
  
    #hamburger:checked ~ nav ~ section {
        right: -200px;
        transition: right 0.8s;
    }
  
    #hamburger:checked ~ nav ul li a {
        right: 0;
        transition: right 0.8s;
        transition-delay: 0.4s;
    }
    
    #hamburger:checked ~ nav ~ main {
        right: -200px;
        transition: right 0.8s;
    }
    /* End Menu Styles */
    /* Set article tile width to make 2 columns */
    main div article {
        width: 40vw;
    }
   
    main div article.fs {
        padding: 10px 100px;
    }
}
/* Bigger than tablet, i.e Desktop */
@media screen and (min-width: 900px) {
    /*Most styles the same as tablet, nothing special, self explanatory */
    main div {
        text-align: center;
    }
   
    main div article.fs {
        padding: 35px 200px;
    }
   
    main div article {
        width: 20vw;
    }
}
/* MOBILE FUN!!!!!!!! (LOOK AT YOUR OWN RISK THIS IS MY FIRST MOBILE SITE) */
@media screen and (max-width: 651px) {
    /* Put the menu off the top of the screen */
    nav {
        height: 70%;
        position: fixed;
        top: -100%;
        width: 100%;
        transition: top 0.8s;
        z-index: 11;
        font-size: small;
        padding-bottom: 15px;
    }
    
    nav ul {
        height: 75%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 25px 10px;
    }
    /* Horribly botched <li> menu because I'm not changing the markup with Javascript 
     * nor using 2 menus, one for mobile one for desktop. It works. Shh. */
    nav ul li {
        width: 49%;
        display: inline-block;
    }
    
    nav ul li:nth-of-type(2) {
        border-top: 1px solid white;
        padding-top: 18px;
    }
    
    nav ul li {
        bottom: 100%;
        transition: bottom 0.8s;
        transition-delay: 0.2s;
    }
    
    nav ul li:last-child {
        position: initial;
        margin: 3px 0 18px;
        line-height: initial;
        height: 35px;
        border-top: none;
    }
    
    #hamburger:checked ~ nav ul li {
        bottom: 0;
        transition: bottom 0.8s;
        transition-delay: 0.2s;
    }
    
    nav ul li a {
        right: 0;
        bottom: 100%;
        transition: bottom 0.8s;
        transition-delay: 0.4s;
    }
    
    #hamburger:checked ~ nav ul li a {
        bottom: 0;
        transition: bottom 0.8s;
        transition-delay: 0.4s;
    }
  
    #hamburger:checked ~ nav {
        top: 75px;
        transition: top 0.8s;
    }
    /* End Menu Styles. Thank God. 
     * This is the one bit of this website I'm not 100% on. I will be revisiting it.
    */
    
    section {
        width: 100%;
        right: 0;
        left: 0;
    }
  
    main {
        width: 100%;
    }
    main div article {
        width: 92%;
    }
    main div article.fs {
        padding: 5px 20px;
        width:100%;
    }
}
