header.news {
    background-color: #CC0000;
}
section.news {
    border-bottom: 3px solid #9A1504;
    background: #9A1504;
    color: #CC0000;
}
main div article.news {}
main div article.news.fs {}

main div article.news a i {
    color: #CC0000;
}
