header.sports {
    background-color: #FF6600;
}
section.sports {
    border-bottom: 3px solid #FF8230;
    background: #FF8230;
    color: #FF6600;
}


main div article.sports a i {
    color: #FF6600;
}
