p {
    font-family: helvetica;
    display: block;
    height: 120px;
    width: 900px;
    font-size: 30pt;
    line-height: 120px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
