/*
* BackChat CSS Written By Deep Sohelia
* Cheeky Plug: Check out my site over at chillibyte.github.io
*
* Read code at your own risk. I take no responsibility for any hallucinations, nausea, scarring or any other ill effects
* Here be Dragons.
*/

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Sets font, background color, and sets up watermark in lower right corner */
body {
    font-family: Raleway, Trebuchet MS, "Sans Serif"; 
    background-color: #BBB;
    overflow-x: hidden;
    background-image: url('/assets/favicons/transparent.png');
    background-repeat: no-repeat;
    background-position: right 50px bottom 25px;
    background-attachment: fixed;
    background-size: 64px;
}

/* Sets up the "BackChat" fixed header */
header {
    position: fixed;
    height: 75px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: #155379; /* Navy ish */
    color: white;
    text-align: center;
    z-index: 999;
}

/* <section> Contains the Category name*/
section {
    height: 50px;
    color: #069;
    position: absolute;
    top: 75px;
    background-color: #069; /* Dark blue */
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    margin: 0;
    z-index: 10;
    transition: width 0.8s
}

section h1 {
    margin: 0;
    transition: width 0.8s;
    color: white;
}

/* <a> tag around the BackChat header */
a.headlink {
    margin: 0;
    transition: width 0.8s;
    color: white;
    text-decoration: unset;
}
a.headlink h1 {
    margin: 0;
}

/* Sidebar/menu, given a position partially offscreen, which is later animated */
nav {
    z-index: 999;
    display: block;
    background-color: #333;
    position: fixed;
    color: #888;
    font-size: xx-small;
    text-align: center;
    padding-bottom: 5px;
    box-sizing: border-box;
}

nav p {
    position: absolute;
    bottom: 5px;
}

nav p > a {
    color: #999;
}

/* Styling the menu options */
nav ul {
    padding: 0;
    text-align: center;
    position: relative;
    right: 100%;
    transition: right 0.8s;
    height: 90%;
    margin-bottom: 0;
    font-size: initial;
}

nav ul li {
    list-style: none;
    color: white;
    display: block;
    height: 35px;
    width: 90%;
    margin: 3px auto;
    margin-bottom: 18px;
    border-bottom: 1px solid white;
    vertical-align: top;
}

nav ul li:first-child {
    border-top: 1px solid white;
    padding-top: 18px;
}

nav ul li:last-child {
    position: absolute;
    bottom: 5px;
    margin: 3px 12.5px 18px;
    border-top: 1px solid white;
    line-height: 50px;
    height: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    right: 100%;
    transition: right 0.8s;
    transition-delay: 0.4s;
}
/* End Styling Menu Options */

/* Main section of layout, where articles are */
main {
    position: absolute;
    right: 0;
    padding-top: 125px;
    padding-left: 10px;
    transition: width 0.8s;
    text-align: center;
    min-height: calc(100% - 250px);
}

main div {
    margin: 0 auto;
    width: 95%;
    text-align: center;
}

/* Small, square article tile thingies */
main div article {
    display: none;
    border-top:3px solid #069;
    border-bottom: 5px solid #AAA;
    background-color: #FFF;
    margin: 8px;
    padding: 5px;
    padding-bottom: 15px;
    padding-left: 8px;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    height: 275px;
    vertical-align: top;
    transition: height 0.8s, width 0.8s;
    overflow-y: hidden;
}

main div article h1 {
    margin: 3px 0;
    font-size: 1.5em;
    color: #222;
}

main div article.fs h1 {
    font-size: 3em;
}

main div article h3 {
    font-size: smaller;
    color: #AAA;
    margin: 3px 0;
}

main div article summary {
    font-size: smaller;
    margin-top: 2px;
    height: 179px;
    overflow: hidden;
    display: inline-block;
}


main div article summary img {
    display: none;
}

main div article summary p {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

main div article > a:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #FFF;
    padding: 8px;
    box-sizing: border-box;
    text-align: right;
}

main div.home article a:last-child {
    color: #069;
}

main div article span {
    position: absolute;
    display: block;
    height: 25px;
    width: 50%;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 5px;
    line-height: 25px;
    text-indent: 5px;
    color:#13D013;
    font-weight:900;
}
/* End article tile styling */

/* Hamburger Menu Styles */
#hamburger {
    display: none;
}

/* #hamburger is the input, but label is the thing that is styled and displayed.
 * Clicking a label toggles the value of the input */
#hamburger + label {
    position: fixed;
    height: 45px;
    width: 45px;
    left: 10px;
    top: 10px;
    z-index: 9999;
    padding: 5px 5px 5px 5px;
}

/* Full screen (expanded) Article Styles */
article.fs {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 125px;
    left: 0;
    margin: 0;
    z-index: 10;
    box-sizing: border-box;
    transition: left 0.8s;
    font-size: initial;
    display: inline-block;
    border:none;
    transition: height 0.8s, width 0.8s, left 0.8s, right 0.8s, top 0.8s;
}

article.fs p {
    font-size: initial;
    display: inline;
}

article.fs p:after {
    content: '';
    display: block;
    width: 100%;
    height: 1em;
}

article.fs summary {
    height: auto;
    margin: 1.7em 0;
    overflow: visible;
    line-height: 1.7em;
    font-size:initial;
}

article.fs img {
    width: 50%;
    height: auto;
    margin: 15px;
    display: inline-block;
    float: left;
}

article.fs img.fs {
    width: 102%;
    height: auto;
    margin: 15px auto;
    display: inline-block;
}

article.fs > a:last-child {
    top: 8px;
    bottom: auto;
}

article.fs h3 {
    margin: 10px 0;
    font-size: initial;
}

article.fs h4 {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    margin: 0 15px;
}
article.fs h4.fs {
    display: block;
    width: 100%;
    text-align: center;
    margin:5px;
    margin-top:0;
}

/* Author linking */
.authlink{
  color: inherit;
  text-decoration: underline dotted;
}
/* Sharing Buttons */
figure {
    margin: 1.7em 0 0;
    padding: 0;
}

figure a {
    margin: 0 8px;
    text-decoration: none;
}
figure a i{
    color:#069;
}
/* End full screen article styles */

/*Home Screen Article Top Borders */
main div article.news {
    border-top:3px solid #9A1504;
}
main div article.news.fs {
    border-top:none;
}
main div article.tech {
    border-top:3px solid #4C4C4C;
}
main div article.tech.fs {
    border-top:none;
}
main div article.sports {
    border-top:3px solid #FF8230;
}
main div article.sports.fs {
    border-top:none;
}
main div article.lifestyle {
    border-top:3px solid #29B156;
}
main div article.lifestyle.fs {
    border-top:none;
}
main div article.ama {
    border-top:3px solid #f99;
}
main div article.ama.fs {
    border-top:none;
}
main div article.arts {
    border-top:3px solid #861186;
}
main div article.arts.fs {
    border-top:none;
}
