html,body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body {
    font-family:Raleway;
}

header {
    position:fixed;
    height:75px;
    width:100%;
    left:0;
    right:0;
    top:0;
    background-color:#155379;
    color:white;
    text-align:center;
    border-bottom:3px solid #069;
    z-index:999;
}

section {
	height:50px;
    	border-bottom:3px solid #069;
    	color: #069;
    	position:absolute;
    	top:75px;
    	background-color:#EED;
    	text-align:center;
    	line-height:50px;
    	box-sizing:border-box;
    	margin:0;
    	z-index:10;
    	transition:width 0.8s
}

section h1 {
	margin:0;
	transition:width 0.8s;
}

nav { 
	z-index:999;	
}

nav ul {
	padding:0;
	text-align: center;
	position:relative;
	right:100%;
	transition:right 0.8s;
}

nav ul li {
    list-style:none;
    color:white;
    display:block;
    height:40px;
    width:90%;
    margin:3px auto;
    margin-bottom:18px;
    border-bottom:1px solid white;
}

nav ul li:first-child {
	border-top:1px solid white;
	padding-top: 18px;
}


nav ul li a {
	color:white;
	text-decoration:none;
}

main {
	position: absolute;
	right:0;
	padding-top:125px;
	padding-left:10px;
	transition:width 0.8s;
	background-color:#BBB;
	height:100%;
	text-align:center;
}

main div {
	margin:0 auto;
	width:95%;
	text-align:left;
}

main div article {
	display:inline-block;
	border-bottom:5px solid #AAA;
	background-color:#FFF;
	margin:8px;
	padding:5px;
	padding-bottom:15px;
	padding-left:8px;
	box-sizing:border-box;
	position:relative;
}

main div article h1 {
	margin:3px 0;
}
main div article h3 {
	font-size:smaller;
	color:#AAA;
}
main div article p  {
	font-size:smaller
}
main div article a {
	position:absolute;
	right:10px;
	color:#069;
	bottom:6px;
}

#hamburger{
	display:none;
}

#hamburger + label {
	position:fixed;
	height:40px;
	width:40px;
	left:20px;
	top:19px;
	background-image:url('https://vibrantoutlook.files.wordpress.com/2014/04/menu-icon.png');
	background-size: 50px 55px;
    	background-position: -5px -9px;
}


@media screen and (min-width: 750px) {
	nav {
		display:block;
		height:calc(100% - 75px);
		width: 250px;
		background-color:#333;
		position:fixed;
		left:-200px;
		bottom:0;
		transition:left 0.8s;
	}
	#hamburger:checked ~ nav {
		left:0;
		transition:left 0.8s;
	}
	section {
		width:calc(100% - 50px);
    		right:0;
    		transition:left 0.8s;
	}
	
	nav:hover > ul {
		right:0;
		transition:right 0.8s;
	}
	
	nav:hover ~ section {
		width:calc(100% - 250px);
    		transition:width 0.8s;
	}
	
	main { 
		width:calc(100% - 50px);
    		right:0;
    		transition:width 0.8s;
	}
	nav:hover ~ main {
		width:calc(100% - 250px);
    		transition:width 0.8s;
	}
	main div article {
		width:300px;
	}
}
@media screen and (max-width: 750px) {
	nav {
		display:none;
	}
	section {
		width:100%;
    		right:0;
    		left:0;
	}
	main {
		width:100%;
	}
	main div article {
		height:300px;
	}
}
