html,body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body {
    font-family:Raleway;
}

header {
    position:fixed;
    height:75px;
    width:100%;
    left:0;
    right:0;
    top:0;
    background-color:#155379;
    color:white;
    text-align:center;
    border-bottom:3px solid #069;
}

nav {
	height:calc(100% - 75px);
	width: 250px;
	background-color:#333;
	position:fixed;
	left:0;
	bottom:0;
}

nav ul {
	padding:0;
	text-align: center;
}

nav ul li {
    list-style:none;
    color:white;
    display:block;
    height:40px;
    width:90%;
    margin:3px auto;
    margin-bottom:16px;
    border-bottom:1px solid white;
}

nav ul li:first-child {
	border-top:1px solid white;
}


nav ul li a {
	color:white;
	text-decoration:none;
}
