language: ruby
#cache: bundler
rvm:
  - 2.1
  
script:
  - bundle exec jekyll build
  - "find ./_site -type d -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"
  - bundle exec htmlproofer ./_site --only-4xx --check-html --empty-alt-ignore

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
