---
layout: null
auths: ["hanveyc","irg","soheliad"]
---

<html>
<head>
  <title>gh-edit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="//isaacrg.github.io/style.css" type="text/css">
  <meta name="theme-color" content="white">
</head>
<body>
  <div id="all">
    <div id="content">
      {% assign authData = false %} {% assign authName = page.author %}
      {% for auth in page.auths %}{% assign authData = false %}{% assign authName = auth %}{{ site.data.authors[auth] }}
        {% if site.data.authors[auth] %}{% assign authData = site.data.authors[auth] %}{% assign authName = authData.name %}{% endif %}
        {% if forloop.first %}By {% endif %}{% if authData %}
<a href="/authors/{% if authData.custom_url %}{{authData.custom_url}}{% else %}{{auth}}{% endif %}/" class="">{{authName}}</a>
{% else %}
{{ include.authName }}
{% endif %}{% if forloop.last %}.{% else %}{% if forloop.rindex0 == 1 %} and {% else %},{% endif %}{% endif %}
      {% endfor %}
    </div>
  </div>
</body>
</html>
