---
layout: deep
---

<div>
    {% assign pageCat = "lifestyle" %}
    {% for post in site.posts %}
    {% assign categories = post.categories | split: ' ' %}
    {% assign flagInclude = false %}
    {% for category in categories %}{% if category == pageCat %}{% assign flagInclude = true %}{% endif %}{{ category }} - {{pageCat}} - {{flagInclude}}{% endfor %}
    {{ post.title }} - {{flagInclude}} - {{ categories }}
    {% if flagInclude %}
        <article class="{{ post.categories }}">
            <h1 class="storyName">{{ post.title }}</h1>
            <h3 class="author">By {{ post.author }}, {{ post.date | date: "%b %-d, %Y" }}</h3>
            <summary>
                {{post.excerpt}}
            </summary>
            <a href="{{ post.url }}">Read More</a>
        </article>
    {% endif %}
    {% endfor %}
    <style>
        article.lifestyle {
          display:inline-block;
        }
    </style>
    
    <script>
        document.getElementById("categoryName").innerHTML = "lifestyle ";
    </script>
</div>
