        <article class="{{post.category}}">
            <h1 class="storyName">{{ post.title }}</h1>
            <h3 class="author">{% if post.author %}By {{ post.author }}, {% endif %}{{ post.date | date: "%-d %b %Y" }}</h3>
            <summary>
                {{post.excerpt}}
            </summary>
            <span></span>
            <script>
                    if ((new Date() - new Date("{{post.date}}"))/(1000*60*60*24) < 14) {
                        var scripts = document.getElementsByTagName('script'),
                        currentScript = scripts[scripts.length - 1],
                        span = currentScript.previousSibling;
                        span.parentElement.children[3].innerHTML = "New!"
                    }
            </script>
            <a href="{{site.url}}{{ post.url }}">Read More</a>
        </article>
