        <article class="{{post.category}}">
            <h1 class="storyName">{{ post.title }}</h1>
            <h3 class="author">{% if post.author %}By {{ post.author }}, {% endif %}{{ post.date | date: "%-d %b %Y" }}</h3>
            <summary>
                {{post.excerpt}}
            </summary>
            <span id="new"></span>
            <script>
                    if ((new Date() - new Date("{{post.date}}"))/(1000*60*60*24) < 14) {
                            document.getElementById("new").innerHTML = "New!"
                    }
            </script>
            <a href="{{site.url}}{{ post.url }}">Read More</a>
        </article>
