---
layout: deep
---

<div>
    {% assign pageCat = page.pageCat %}
    {% for post in site.posts %}
    {% assign flagInclude = false %}
    {% if post.category == pageCat %}{% assign flagInclude = true %}{% endif %}
    {{ post.title }} - {{flagInclude}} - {{ post.category }}
    {% if flagInclude %}
        <article class="{{ post.category }}">
            <h1 class="storyName">{{ post.title }}</h1>
            <h3 class="author">By {{ post.author }}, {{ post.date | date: "%b %-d, %Y" }}</h3>
            <summary>
                {{post.excerpt}}
            </summary>
            <a href="{{ post.url }}">Read More</a>
        </article>
    {% endif %}
    {% endfor %}
    <style>
        article.{{pageCat}} {
          display:inline-block;
        }
    </style>
    
    <script>
        document.getElementById("categoryName").innerHTML = "{{pageCat}} ";
    </script>
</div>
