---
layout: deep
---

<div>
    {% assign pagecat = page.category %}
    {% for post in site.posts %}
    {% assign flagInclude = false %}
    {% if post.category == pageCat %}{% assign flagInclude = true %}{% endif %}
    {{post.category}}
    {% if flagInclude %}{% include postpreview.html %}{% endif %}
    {% endfor %}
    <style>
        article.{{pagecat}} {
          display:inline-block;
        }
    </style>
    
    <script>
        document.getElementById("categoryName").innerHTML = "{{pagecat}} ";
    </script>
</div>
