---
layout: deep
---

<div>
    {% assign pageCat = page.pageCat %}
    {% for post in site.posts %}
    {% assign flagInclude = false %}
    {% if post.category == pageCat %}{% assign flagInclude = true %}{% endif %}
    {% if flagInclude %}{% include postpreview.html %}{% endif %}
    {% endfor %}
    <style>
        article.{{pageCat}} {
          display:inline-block;
        }
    </style>
    
    <script>
        document.getElementById("categoryName").innerHTML = "{{pageCat}} ";
    </script>
</div>
