<!DOCTYPE html>
<html>
    <head>
        <title>BackChat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{site.url}}/deep/style.css" />
        <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <header class="{{page.category}}">
            <a class="headlink" href="{{site.url}}/"><h1>BackChat</h1></a>
        </header>
        <input type="checkbox" id="hamburger" name="hamburger" />
        <label for="hamburger">
            <img style="height: 100%; width: 100%;" alt="Menu" src="{% include menu_dataurl.txt %}">
        </label>
        <nav>
            <ul>
                <li><a href="{{site.url}}/dindex.html"> Home                   </a></li>
                {% for link in site.cats %}
                <li><a href="{{site.url}}/{{ link[0] }}/">{{ link[1] }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <section class="{{page.category}}">
            <!-- Category title is fetched from _config.yml -->
            {% unless page.useTitle %}<a class="headlink" href="{{site.url}}/{{page.category}}/" title="{{site.cats[page.category]}}">{% endunless %}<h1 id="categoryName" class="{{page.category}}">{% if page.useTitle %}{{page.title}}{% else %}{{site.cats[page.category]}}{% endif %}</h1>{% unless page.useTitle %}</a>{% endunless %}       
        </section>
        <main>
            {{content}}
        </main>
        <!--<script src="{{site.url}}/deep/script.js"></script>-->
    </body>
</html>
