<!DOCTYPE html>
<html>
    <head>
        <title>BackChat</title>
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{site.url}}/deep/style.css" />
        <link rel="icon" href="{{site.url}}/favicon.ico">
    </head>
    <body>
        <header class="{{page.category}}">
            <h1>BackChat</h1>
        </header>
        <input type="checkbox" id="hamburger" name="hamburger" />
        <label for="hamburger"></label>
        <nav>
            <ul>
                <li><a href="{{site.url}}/dindex.html"> Home                   </a></li>
                {% for link in site.cats %}
                <li><a href="{{site.url}}/{{ link[0] }}/">{{ link[1] }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <section class="{{page.category}}">
            <!-- Category title is fetched from _config.yml -->
            <h1 id="categoryName" class="{{page.category}}">{% if page.useTitle %}{{page.title}}{% else %}{{site.cats[page.category]}}{% endif %}</h1>       
        </section>
        <main>
            {{content}}
        </main>
        <!--<script src="{{site.url}}/deep/script.js"></script>-->
    </body>
</html>
