{% if page.collection == "authors" %}{% assign pageName = site.data.authors.authors.[page.auth].name %}{% capture pageTitle %}{{pageName | prepend: "Posts by "}}{% endcapture %}{% else %}{% assign pageTitle = page.title %}{% endif %}
<!DOCTYPE html><!-- Page.collection: {{page.collection}} Pagename: {{pageName}}  Pagetitle: {{pageTitle}} page.auth: {{page.auth}}-->
<html>
    <head>
        <title>{% if pageTitle %}{{pageTitle}} - {% endif %}BackChat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/media-styles.css" />
        {% if page.useTitle %}
        <meta name="theme-color" content="{% if page.themecolor %}{{page.themecolor}}{% else %}#00ADF1{% endif %}">
        <link rel="stylesheet" href="/css/author-theme.css" />
        {% else %}{% case page.category %}
        {% when 'news' %}
        <meta name="theme-color" content="#CC0000">
        <link rel="icon" type="image/png" href="/assets/favicons/newsFavicon.png" />
        <link rel="stylesheet" href="/css/news-theme.css" />
        {% when 'tech' %}
        <meta name="theme-color" content="#333333">
        <link rel="icon" type="image/png" href="/assets/favicons/techFavicon.png" />
        <link rel="stylesheet" href="/css/tech-theme.css" />
        {% when 'sports' %}
        <meta name="theme-color" content="#FF6600">
        <link rel="icon" type="image/png" href="/assets/favicons/sportsFavicon.png" />
        <link rel="stylesheet" href="/css/sports-theme.css" />
        {% when 'lifestyle' %}
        <meta name="theme-color" content="#009933">
        <link rel="icon" type="image/png" href="/assets/favicons/lifestyleFavicon.png" />
        <link rel="stylesheet" href="/css/lifestyle-theme.css" />
        {% when 'arts' %}
        <meta name="theme-color" content="#660066">
        <link rel="icon" type="image/png" href="/assets/favicons/artsFavicon.png" />
        <link rel="stylesheet" href="/css/arts-theme.css" />
        {% when 'ama' %}
        <meta name="theme-color" content="#F33">
        <link rel="icon" type="image/png" href="/assets/favicons/amaFavicon.png" />
        <link rel="stylesheet" href="/css/ama-theme.css" />
        {% else %}
        <meta name="theme-color" content="#00ADF1">{% endcase %}{% endif %}
    </head>
    <body>
        <header class="{% if page.useTitle %}home{% else %}{{page.category}}{% endif %}">
            <h1><a class="headlink" href="/">BackChat</a></h1>
        </header>
        <input type="checkbox" id="hamburger" name="hamburger" />
        <label for="hamburger">
            <img style="height: 100%; width: 100%;" alt="Menu" src="{% include menu_dataurl.txt %}">
        </label>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>{% for link in site.cats %}
                <li><a href="/{{ link[0] }}/">{{ link[1] }}</a></li>{% endfor %}
                <li><a href="/contact/">Contact Us</a></li>
            </ul>
            <p>
                BackChat. All Rights Reserved.
                Website made with &#128157; By <a href="//chillibyte.github.io">Deep Sohelia</a> and <a href="//ir-g.uk">Isaac Reid-Guest</a>.
                Backend written by Benji Marshall, <a href="//twitter.com/hexaglow">Matt Randell</a> and <a href="//ir-g.uk">Isaac Reid-Guest</a>, using <a href="//jekyllrb.com">Jekyll</a>
            </p>
        </nav>
        <section class="{% if page.useTitle %}{{pageTitleClass}}{% else %}{{page.category}}{% endif %}">
            <!-- Category title is fetched from _config.yml -->
            {% unless page.useTitle %}<a class="headlink" href="/{{page.category}}/" title="{{site.cats[page.category]}}">{% endunless %}<h1 id="categoryName" class="{{page.category}}">{% if page.useTitle %}{{pageTitle}}{% else %}{{site.cats[page.category]}}{% endif %}</h1>{% unless page.useTitle %}</a>{% endunless %}
        </section>
        <main>
            {{content}}
        </main>
        <script>{% include googleAnalytics.js %}</script>
    </body>
</html>
