---
layout: deep
---

<div>
  <article class="fs {{page.categories}}">
    <h1 class="storyName">{{ page.title }}</h1>
    <h3 class="author">{% if page.author %}By {{ page.author }}, {% endif %}{{ page.date | date: "%-d %b %Y" }}</h3>
    <figure>
      <!-- Twitter -->
      <a href="https://twitter.com/share?u=backchat.kefw.org{{page.url}}&t={{page.title}} - Read more on BackChat">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
      <!-- Google Plus -->
      <a href="https://plus.google.com/share?url=backchat.kefw.org{{page.url}}" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" class="share-btn google-plus">
          <i class="fa fa-google-plus fa-2x"></i>
      </a>
  
      <!-- Facebook -->
      <a href="http://www.facebook.com/sharer/sharer.php?u=backchat.kefw.org{{page.url}}" target="_blank" class="share-btn facebook">
          <i class="fa fa-facebook fa-2x"></i>
      </a>
      
      <!--RSS -->
      <a href="/feed.xml">
        <i class="fa fa-rss-square fa-2x"></i>
      </a>
      
      <a href="">
        <i class="fa fa-star-o"></i>
      </a>
    </figure>
    <summary>
      {% if page.category == 'ama' %}{% include amaPostHeader.html %}{% endif %}
      {{ content }}
    </summary>
  </article>
</div>
