---
layout: deep
---

<div>
  <article class="fs {{page.categories}}">
    <h1 class="storyName">{{ page.title }}</h1>
    <h3 class="author">{% if page.author %}By {{ page.author }}, {% endif %}{{ page.date | date: "%b %-d, %Y" }}</h3>
    <figure>
      <!-- Twitter -->
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="backchat.kefw.org{{page.url}}" data-text="{{page.title}} - Read more on BackChat" data-size="large">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <!-- Google Plus -->
      <a href="https://plus.google.com/share?url=backchat.kefw.org{{page.url}}" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" class="share-btn google-plus">
          <i class="fa fa-google-plus fa-2x"></i>
      </a>
  
      <!-- Facebook -->
      <a href="http://www.facebook.com/sharer/sharer.php?u=backchat.kefw.org{{page.url}}" target="_blank" class="share-btn facebook">
          <i class="fa fa-facebook fa-2x"></i>
      </a>
      
      <!--RSS -->
      <a href="/feed.xml">
        <i class="fa fa-rss-square fa-2x"></i>
      </a>
    </figure>
    <summary>
      {{ content }}
    </summary>
  </article>
</div>
