---
layout: deep
---

<div>
  <article class="fs {{page.categories}}">
    <h1 class="storyName">{{ page.title }}</h1>
    <h3 class="author">By {{ page.author }}, {{ page.date | date: "%b %-d, %Y" }}</h3>
    <summary>
      {{ content }}
    </summary>
    <a href="/dindex.html">Go back</a>
  </article>
  
    <script>
        var catHead =document.getElementById("categoryName")
        var cat = catHead.innerHTML;
        if (cat == "news") {
          catHead.innerHTML = "School News";
        }
        if (cat == "tech") {
          catHead.innerHTML = "Technology";
        }
        if (cat == "arts") {
          catHead.innerHTML = "Arts & Entertainment";
        }
        if (cat == "lifestyle") {
          catHead.innerHTML = "Lifestyle";
        }
    </script>
</div>
