---
layout: deep
---

<div>
  <article class="fs {{page.categories}}">
    <h1 class="storyName">{{ page.title }}</h1>
    <h3 class="author">By {{ page.author }}, {{ page.date | date: "%b %-d, %Y" }}</h3>
    
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{page.url}}&text={{page.title}} - Read more on KEFW Magazine - {{page.url}}" target="_blank" class="share-btn twitter">
        <i class="fa fa-twitter fa-2x"></i>
    </a>
    
    <!-- Google Plus -->
    <a href="https://plus.google.com/share?url={{page.url}}" target="_blank" class="share-btn google-plus">
        <i class="fa fa-google-plus fa-2x"></i>
    </a>
    
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer/sharer.php?u={{page.url}}" target="_blank" class="share-btn facebook">
        <i class="fa fa-facebook fa-2x"></i>
    </a>
    <summary>
      {{ content }}
    </summary>
    <a href="/dindex.html">Go back</a>
  </article>
</div>
